<div class="container">
  <%= form_for(:session, url: sessions_create_path)  do |f| %>
    <div class="from-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="from-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="from-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

      <%= f.submit "Log in", class: "btn btn-primary" , style: "margin-top:20px;"%>

  <% end %>

</div>
